---
import { SITE } from "@/lib/config";
import Head from "@/components/bases/head.astro";
import Header from "@/components/shared/header.astro";
import Footer from "@/components/shared/footer.astro";
import type { Entry } from "@/lib/types";
import { getMeta } from "@/lib/utils/getMeta";

type Props = {
  entry: Entry;
};

const { entry } = Astro.props;

const meta = await getMeta(entry);
---

<!doctype html>
<html lang={SITE.locale} dir={SITE.dir}>
  <Head meta={meta} />
  <body class="flex flex-col">
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5209733649309239"
      crossorigin="anonymous"></script>
    <!-- voiture1display -->
    <ins
      class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-5209733649309239"
      data-ad-slot="5482033526"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
